@model WebAPI.Model.Categoria

@{
    ViewData["Title"] = "Excluir Categoria";
}

<h2>Excluir Categoria</h2>

<h3>Você tem certeza que deseja excluir esta categoria?</h3>
<div>
    <h4>Detalhes da Categoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <form asp-action="Delete" asp-route-id="@Model.CategoriasId" method="post">
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
